:root {
    /* flags */
    --display-search: block;

    /* Neutral palette */
    --color-bg: #e8f2ff;
    --color-bg-light: #e4e4ff;
    --color-panel: #ffffff;
    --color-border: #ddd;
    --color-text: #222;

    /* Calm accents */
    --color-accent: #e8f0ff;
    --color-accent-border: #c7d8ff;

    --color-dark-text: var(--color-text);
    --color-light-text: #eee;
    --color-muted-text: #666;
    --color-danger: #ff5050;

    /* Color Palette */
    --color-blue: #0078d4;
    --color-lt-blue: rgb(220, 235, 255);
    --color-pale-blue: rgb(230, 240, 255);

    --color-pale-yellow: #ffffee;

    --color-dark-gray: #555;
    --color-gray: #888;
    --color-light-gray: #dadada;
    --color-pale-gray: #eaeaea;

    --color-transparent: transparent;

    /* Brand colors */
    --color-primary: var(--color-blue);
    --color-primary-hover: #bbb;
    --color-primary-active: #799eda;
    --color-primary-text: #eee;
    --color-primary-border: #ccc;

    --color-primary-light: #ddd;
    --color-primary-light-hover: #eee;
    --color-primary-light-active: #eee;
    --color-primary-light-text: #222;
    --color-primary-light-border: #444;

    --color-row-head: var(--color-light-gray);
    --color-row-subhead: var(--color-pale-gray);
    --color-row-bg: #f9f9f9;

    /* Badge */
    --color-badge-bg: var(--color-pale-gray);
    --color-badge-text: var(--color-dark-text);
    --color-badge-border:var(--color-dark-gray);
    --font-size-badge: var(--font-size-medium);

    /* Buttons */
    --color-btn-bg: #ddd;
    --color-btn-border: #666;
    --color-btn-text: var(--color-dark-text);

    --color-btn-hover-bg: #bbb;
    --color-btn-hover-text: var(--color-dark-text);

    --color-btn-active-bg: var(--color-primary-hover);
    --color-btn-active-text: var(--color-primary-hover);

    --color-btn-edit-bg: var(--color-primary);
    --color-btn-edit-text: var(--color-light-text);
    --color-btn-edit-hover-bg: var(--color-primary-hover);
    --color-btn-edit-hover-text: var(--color-dark-text);

    --color-btn-danger-bg: var(--color-danger);
    --color-btn-danger-text: var(--color-light-text);
    --color-btn-danger-hover-bg: var(--color-danger);
    --color-btn-danger-hover-text: var(--color-light-text);

    --color-btn-cancel-bg: #ccc;
    --color-btn-cancel-text: var(--color-primary-text);
    --color-btn-cancel-hover-bg: #799eda;
    --color-btn-cancel-hover-text: var(--color-dark-text);

    --color-btn-close-bg: var(--color-btn-bg);
    --color-btn-close-text: var(--color-primary-text);
    --color-btn-close-hover-bg: #799eda;
    --color-btn-close-hover-text: var(--color-primary-text);

    --color-btn-save-bg: var(--color-primary);
    --color-btn-save-text: white;
    --color-btn-save-hover-bg: #006cbe;
    --color-btn-save-hover-text: var(--color-primary-text);
    --font-size-button: var(--font-size-small);

    /* fonts */
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 18px;

    /* Icons */
    --font-size-icon: 36px;

    /* Data */
    --font-size-data: var(--font-size-medium);

    /* Markdown */
    --color-markdown-bg: var(--color-pale-yellow);
    --color-markdown-text: var(--color-dark-text);
    --font-size-markdown: var(--font-size-medium);

    /* Triplist */
    --color-triplist-accent: var(--color-lt-blue);
    --color-triplist-highlight: var(--color-pale-blue);

    /* Timeline */
    --color-timeline-bg: var(--color-transparent);
    --color-timeline-text: var(--color-dark-text);

    /* margin sizes */
    --margin-small: 4px;
    --margin-standard: 8px;
    --margin-large: 16px;

    /* padding sizes */
    --padding-small: var(--margin-small);
    --padding-standard: var(--margin-standard);
    --padding-large: var(--margin-large);
}